.row
{
	margin-left: 0px !important;
	margin-right: 0px !important;

}
.navbar
{
	background: #2980b9;
	z-index: 10000;
}
.left-navbar
{
	background: #646464;
	color: #fff;
	position: absolute;
	height: 100% !important;
	width: 250px;
}
.menu
{
	padding-top: 70px;
	padding-left: 15px;
	line-height: 25px;
}
@media(max-width: 1024px){
	.left-navbar
	{
		visibility: hidden;
	}
	.content
	{
		margin-left: 0px !important;
	}
}
.content
{
	margin-left: 250px;
}
